/*
// Author: Moisés Adame-Aguilar
// Date: January 4, 2023
// Descrption: Main CSS for the website
*/

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: "Courier New";
    color: #460C68;
}

a{
    text-decoration: none;
}

p{
    width: 80%;
    word-break: break-all;
    text-align: center;
}

input{
    border-radius: 4px;
    border: none;
    margin: 8px 0;
    color: #460C68;
    border-color: #94bbe9;
    font-family: "Courier New";
}

hr{
    height: 3%;
    width: auto;
    border: 5px solid #460C68;
    border-radius: 40px;
    margin: auto;
    margin-top: 10px;
}

button {
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    background-color: #460C68;
    border: none;
    border-radius: 20px;
    box-shadow: 0 6px #999;
}

button:hover {
    background-color: #630f93
}

button:active {
    background-color: #630f93;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}