@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body{
    margin: 0;
}

#background{
    /* DIMENSIONS */
    height: 100dvh;
    width: 100dvw;

    /* COLOR */
    background-color: burlywood;
}

#board{
    /* DIMENSIONS */
    height: 60dvh;
    width: 60dvh;

    /* COLOR */
    background-color: grey;

    /* CENTERING */
    margin: auto;
    position: relative;
    top: 30dvh;

    /* POSITION */
    z-index: 100;
}

.board-box{
    /* DIMENSIONS */
    height: 19dvh;
    width: 19dvh;

    /* POSITION */
    z-index: 1000;
    
    /* COLOR */
    background-color: blueviolet;

    /* CENTERING */
    text-align: center;
}

#square1{
    /* POSITION */
    position: absolute;
    left: 0;
    top: 0;

    /* MARGIN */
    margin: 0.6dvh 0 0 0.6dvh;

    /* BORDER */
    border-right: 0.6dvh solid black;
    border-bottom: 0.6dvh solid black;
}

#square2{
    /* POSITION */
    position: absolute;
    left: 20dvh;
    top: 0;

    /* MARGIN */
    margin: 0.6dvh 0 0 0;

    /* BORDER */
    border-right: 0.6dvh solid black;
    border-left: 0.6dvh solid black;
    border-bottom: 0.6dvh solid black;
}

#square3{
    /* POSITION */
    position: absolute;
    left: 40dvh;
    top: 0;

    /* MARGIN */
    margin: 0.6dvh 0.6dvh 0 0;

    /* BORDER */
    border-left: 0.6dvh solid black;
    border-bottom: 0.6dvh solid black;
}

#square4{
    /* POSITION */
    position: absolute;
    left: 0;
    top: 20dvh;

    /* MARGIN */
    margin: 0 0.6dvh 0 0.6dvh;

    /* BORDER */
    border-right: 0.6dvh solid black;
    border-bottom: 0.6dvh solid black;
    border-top: 0.6dvh solid black;
}

#square5{
    /* POSITION */
    position: absolute;
    left: 20dvh;
    top: 20dvh;

    /* MARGIN */
    margin: 0;

    /* BORDER */
    border: 0.6dvh solid black;
}

#square6{
    /* POSITION */
    position: absolute;
    left: 40dvh;
    top: 20dvh;

    /* MARGIN */
    margin: 0 0.6dvh 0 0;

    /* BORDER */
    border-left: 0.6dvh solid black;
    border-bottom: 0.6dvh solid black;
    border-top: 0.6dvh solid black;
}

#square7{
    /* POSITION */
    position: absolute;
    left: 0;
    top: 40dvh;

    /* MARGIN */
    margin: 0 0 0.6dvh 0.6dvh;

    /* BORDER */
    border-right: 0.6dvh solid black;
    border-top: 0.6dvh solid black;
}

#square8{
    /* POSITION */
    position: absolute;
    left: 20dvh;
    top: 40dvh;

    /* MARGIN */
    margin: 0 0 0.6dvh 0;

    /* BORDER */
    border-right: 0.6dvh solid black;
    border-left: 0.6dvh solid black;
    border-top: 0.6dvh solid black;
}

#square9{
    /* POSITION */
    position: absolute;
    left: 40dvh;
    top: 40dvh;

    /* MARGIN */
    margin: 0 0.6dvh 0.6dvh 0;

    /* BORDER */
    border-left: 0.6dvh solid black;
    border-top: 0.6dvh solid black;
}

#info-display{
    /* POSITION */
    position: relative;
    bottom: 20dvh;

    /* COLORS */
    border: 0.6dvh grey solid;
    background-color: crimson;

    /* MARGIN */
    margin: 0;
    height: 15dvh;

    /* CENTERING */
    text-align: center;
}

#info-display-text{
    /* CENTERING VERTICALLY */
    position: relative;
    top: 3.75dvh;

    /* FONT */
    font-family: Comfortaa;
}

.img-token{
    /* POSITION */
    z-index: 10000;

    /* DIMENSIONS */
    height: 19dvh;
    width: 19dvh;
}