body{
    margin: 0%;
}

.top-container{
    /* DIMENSIONS */
    height: 200px;
    width: 200px;

    /* COLOR */
    background-color: red;

    /* POSITION */
    position: absolute;
    left: 400px;
    top: 400px;
}

.middle-container{
    /* DIMENSIONS */
    height: 200px;
    width: 200px;

    /* COLOR */
    background-color: yellow;

    /* POSITION */
    position: absolute;
    left: 200px;
    top: 200px;
}

.bottom-container{
    /* DIMENSIONS */
    height: 200px;
    width: 200px;

    /* COLOR */
    background-color: green;
}